<turbo-frame id="frame">
  <h2>About</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta placeat atque expedita consequatur ex laudantium tempore non esse, deleniti dolorem eius pariatur accusamus aut odit provident deserunt praesentium, ut accusantium!</p>
</turbo-frame>
